<% if @estate.errors.any? %>
  <div id ="error_explanation">
    <h2><%= @estate.errors.count %>件のエラーがあります</h2>
    <ul>
      <% @estate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>